---
- name: Creating necessary folders
  ansible.builtin.file:
    path: "{{ machikiflix_arr_folder }}/sonarr"
    state: directory
    owner: root
    group: root
    mode: '0750'
  loop:
    - sonarr
    - radarr
    - bazarr
    - prowlarr
