---
- name: Creating necessary folders
  ansible.builtin.file:
    path: "{{ machikiflix_arr_folder }}/sonarr"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - sonarr
    - radarr
    - bazarr
    - prowlarr

- name: Créer l'arborescence pour les médias (Torrents, Usenet, Media)
  ansible.builtin.file:
    path: "/data/{{ item }}"
    state: directory
    mode: '0755'
    owner: root
    group: root
    recurse: false
  loop:
    # Torrents
    - torrents/books
    - torrents/movies
    - torrents/music
    - torrents/tv
    # Usenet
    - usenet/incomplete
    - usenet/complete/books
    - usenet/complete/movies
    - usenet/complete/music
    - usenet/complete/tv
    # Media
    - media/booksmachikiflix_deploy
    - media/movies
    - media/music
    - media/tv

- name: Deploy traefik
  ansible.builtin.include_tasks:
    file: roles/traefik/tasks/traefik_deploy.yml

- name: Deploy servarr apps
  ansible.builtin.include_tasks:
    file: roles/traefik/tasks/servarr_deploy.yml

- name: Deploy torrent apps
  ansible.builtin.include_tasks:
    file: roles/traefik/tasks/torrent_deploy.yml

- name: Deploy media server apps
  ansible.builtin.include_tasks:
    file: roles/traefik/tasks/media_server.yml
