---
- name: Ensure traefik directories exists
  ansible.builtin.file:
    path: "{{ machikiflix_main_folder }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy traefik configuration files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ machikiflix_main_folder }}/{{ item }}"
    owner: root
    group: root
    mode: '0644'
  notify: Restart traefik service
  loop:
    - docker-compose.yml
    - traefik.yml

- name: Create systemd service for traefik
  ansible.builtin.template:
    src: traefik.service.j2
    dest: /etc/systemd/system/traefik.service
    owner: root
    group: root
    mode: '0644'
  notify: Restart traefik service

- name: Ensure traefik service is enabled and started
  ansible.builtin.systemd:
    name: traefik.service
    enabled: true
    state: restarted
    daemon_reload: true

- name: Deploy wildcard certificate
  ansible.builtin.include_tasks:
    file: roles/traefik/tasks/machikiflix_deploy.yml
