---
- name: Include vault variables
  ansible.builtin.include_vars:
    file: vault.yml

- name: Update packages and install dependencies
  ansible.builtin.apt:
    name:
      - curl
      - vim
      - gpg
      - ca-certificates
    state: present
    update_cache: true

- name: Download and add Smallstep GPG key
  ansible.builtin.get_url:
    url: https://packages.smallstep.com/keys/apt/repo-signing-key.gpg
    dest: /etc/apt/trusted.gpg.d/smallstep.asc
    mode: '0644' # Ensure permissions are correct

- name: Add Smallstep repository to APT sources
  ansible.builtin.apt_repository:
    repo: 'deb [signed-by=/etc/apt/trusted.gpg.d/smallstep.asc] https://packages.smallstep.com/stable/debian debs main'
    state: present
    filename: smallstep # Creates /etc/apt/sources.list.d/smallstep.list/etc/apt/trusted.gpg.d/smallstep.asc

- name: Install step-cli and step-ca
  ansible.builtin.apt:
    name:
      - step-cli
      - step-ca
    state: present
    update_cache: true # Update APT cache after adding the repository

- name: Ensure step-ca configuration directory exists
  ansible.builtin.file:
    path: /etc/step-ca
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Create password file for step-ca
  ansible.builtin.copy:
    content: "{{ step_ca_password }}"
    dest: /etc/step-ca/password.txt
    owner: root
    group: root
    mode: '0600'
  when: step_ca_password is defined

- name: Copy step-ca service file
  ansible.builtin.copy:
    src: step-ca.service
    dest: /etc/systemd/system/step-ca.service
    owner: root
    group: root
    mode: '0644'
  notify:
    - reload systemd

- name: Start and enable step-ca service
  ansible.builtin.systemd:
    name: step-ca
    state: started
    enabled: yes
