---
- name: Ensure traefik directories exists
  ansible.builtin.file:
    path: "{{ traefik_main_folder }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy traefik configuration files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ traefik_main_folder }}/{{ item }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - docker-compose.yml
    - traefik.yml

- name: Create systemd service for traefik
  ansible.builtin.template:
    src: traefik.service.j2
    dest: /etc/systemd/system/traefik.service
    owner: root
    group: root
    mode: '0644'

- name: Ensure traefik service is enabled and started
  ansible.builtin.systemd:
    name: traefik.service
    enabled: true
    state: started
    daemon_reload: true
  notify: Restart traefik service
