[Unit]
Description=Step CA
Documentation=https://smallstep.com/docs/step-ca/
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/step-ca /root/.step/config/ca.json --password-file /etc/step-ca/password.txt
Environment="STEPPATH=/root/.step"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
